QWidget {
    background-color: #f0f0f0;
}

#video_label {
    background-color: black;
    min-width: 400px;
    min-height: 300px;
}

#output_label {
    background-color: lightgray;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    height: 150px;
}

#description_label {
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    color:black;
    padding: 20
}