QWidget {
    background-color: #f0f0f0;
}

#video_feed {
    background-color: black;
}

#instructions {
    font-size: 24px;
    font-weight: 550;
    text-align: justify;
    height: 150px;
    padding-left: 20px;
}

#description {
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    color:black;
    padding: 20px;
}