QWidget {
    background-color: #f0f0f0;
}

#video_feed {
    background-color: black;
}

#instructions {
    background-color: lightgray;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    height: 150px;
}

#description {
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    color:black;
    padding: 20px;
}