#title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color:black;
}

#description {
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    color:black;
    padding: 20px;
}