cepton_sdk==1.17.8
fer==22.5.1
matplotlib==3.10.1
mediapipe==0.10.14
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
PyQt5==5.15.11
screeninfo==0.8.1
torch==2.6.0
torchvision==0.21.0
ultralytics==8.3.78
vispy==0.14.3
moviepy==1.0.3
tensorflow==2.16.1
pygetwindow
pywin32